<nav class="navbar">
  <ul>
    <li class="nav-home">
      <a href="/">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="icon icon-tabler icon-tabler-home-2 home-icon"
          width="30"
          height="30"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="#faf5ff"
          fill="none"
          stroke-linecap="round"
          stroke-linejoin="round"
        >
          <path stroke="none" d="M0 0h24v24H0z" fill="none" />
          <polyline points="5 12 3 12 12 3 21 12 19 12" />
          <path d="M5 12v7a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-7" />
          <rect x="10" y="12" width="4" height="4" />
        </svg>
      </a>
    </li>
    <div class="nav-options">
      <li><a href="#about">About</a></li>
      <li><a href="#contact">Say Hello</a></li>
      <li><a href="/blog">Blog</a></li>
      <li>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="icon icon-tabler icon-tabler-moon"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="#E53E3E"
          fill="#E53E3E"
          stroke-linecap="round"
          stroke-linejoin="round"
        >
          <path stroke="none" d="M0 0h24v24H0z" fill="none" />
          <path
            d="m 12 3 c 0.132 0 0.263 0.003 0.393 0.008 a7.5 7.5 0 0 0 7.92 12.446 a9 9 0 1 1 -8.313 -12.454 z"
          />
        </svg>
      </li>
    </div>
  </ul>
</nav>
