@import url("https://fonts.googleapis.com/css2?family=ABeeZee&display=swap");
html {
  scroll-behavior: smooth;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #310e68;
  background-image: linear-gradient(316deg, #310e68 0%, #5f0f40 74%);
  background-attachment: fixed;
  color: #faf5ff;
  line-height: 1.6;
  font-family: "ABeeZee", sans-serif;
  height: 100vh;
  overflow: hidden;
}

.tc {
  text-align: center;
}

.container {
  height: 100%;
  width: 100%;
  overflow-y: scroll;
  scroll-behavior: smooth;
}

nav {
  background-color: rgba(45, 55, 72, 0.7);
}

.navbar {
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  height: 4rem;
  display: flex;
  align-items: center;
}

.navbar ul {
  margin: 0 15%;
  display: flex;
  list-style: none;
  width: 100%;
  justify-content: space-between;
  font-size: 1.3rem;
}

.navbar ul li {
  margin: 0 1rem;
  padding: 1rem;
}

.navbar ul li a {
  text-decoration: none;
  color: #faf5ff;
}

.navbar ul li a:hover {
  border-bottom: 1px solid #e53e3e;
  color: #e53e3e;
}

.home-icon:hover {
  color: #e53e3e;
}

.nav-options {
  display: flex;
}
.nav-options li {
  margin: 0 20px;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 100vh;
}

section h1 {
  font-size: 3rem;
}

section p {
  font-size: 1.5rem;
}

/* section#home {
}

section#about {
}

section#contact {
} */

.enter-blog {
  margin: 5rem 0 0 0;
}
.enter-blog h1 {
  font-size: 3.5rem;
}
