<%- include('../partials/head.ejs') %> <%- include('../partials/header.ejs') %>
<section id="home">
  <h1>Home Page</h1>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam nam at
    veritatis quaerat, atque maxime itaque? Cum amet quibusdam et dolore.
  </p>
</section>
<section id="about">
  <h1>About Me</h1>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam nam at
    veritatis quaerat, atque maxime itaque? Cum amet quibusdam et dolore.
  </p>
</section>

<section id="contact">
  <h1>Contact Me</h1>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam nam at
    veritatis quaerat, atque maxime itaque? Cum amet quibusdam et dolore.
  </p>
</section>
<%- include('../partials/footer.ejs') %>
